<!DOCTYPE html>
<html>
<head>
  <title>Dummy App</title>
  <script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.min.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
